force-app/main/default/flows/Create_question_results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_qr_collection</name>
        <label>Add to qr collection</label>
        <locationX>764</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>QR_for_insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QR_indiv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QR_indiv</name>
        <label>Set QR indiv</label>
        <locationX>764</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>QR_indiv.Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QR_indiv.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_qr_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Question_found</name>
        <label>Question found?</label>
        <locationX>484</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Questions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_questions</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <interviewLabel>Create question results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create question results</label>
    <loops>
        <name>Iterate_through_questions</name>
        <label>Iterate through questions</label>
        <locationX>490</locationX>
        <locationY>374</locationY>
        <assignNextValueToReference>Question</assignNextValueToReference>
        <collectionReference>Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_QR_indiv</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_qr_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_qr_records</name>
        <label>Create qr records</label>
        <locationX>145</locationX>
        <locationY>373</locationY>
        <inputReference>QR_for_insert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_questions_related_to_exam</name>
        <label>Get all questions related to exam</label>
        <locationX>236</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_found</targetReference>
        </connector>
        <filters>
            <field>Exam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExamId</elementReference>
            </value>
        </filters>
        <object>Question__c</object>
        <outputReference>Questions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_all_questions_related_to_exam</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QR_for_insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question_Result__c</objectType>
    </variables>
    <variables>
        <name>QR_indiv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question_Result__c</objectType>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>TestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
